.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 220px;
  border-radius: 8px;
  background: white;
}

.course-card img {
  width: 100%;
  border-radius: 6px;
}
.card {
  backdrop-filter: blur(8px);
}